<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= blog.title %></title>
  </head>
  <body>
    <p class="page-container">404 page not found</p>
  </body>

<style scoped>
  .page-container {
    font-size: 20px;
    text-align: center;
    color: rgb(192, 204, 218);
  }
</style>
</html>
